.text-title {
    text-align: center;
    font-weight: bold;
    padding: 30px;
    font-size: 2rem;
}

.team-detail {
    padding: 10px 10px;
    border: 1px solid silver;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px silver;
}

.team-detail table {
    width: 100%;
}

.team-detail table td {
    padding-top: 15px;
    border-bottom: 1px solid silver;
}

.team-detail table td:last-child {
    width: 70%;
    padding-left: 15px;
}

.img-logo-all {
    max-height: 200px;
}

#image-member-logo {
    max-height: 150px;
    float: right;
}

.ql-editor {
    max-height: 400px;
    min-height: 400px;
}

/* *, ::after, ::before {
    -webkit-box-sizing: unset !important;
    box-sizing: unset !important;
} */

.custom-menu{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}