.text-title{
text-align: center;
font-weight: bold;
padding: 30px;
font-size: 2rem;
}

.team-detail{
    padding: 10px 10px;
    border: 1px solid silver;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px silver;
}

.team-detail table{
    width: 100%;
}
.team-detail table td{
    padding-top: 15px;
    border-bottom: 1px solid silver;
}

.team-detail table td:last-child{
    width: 70%;
    padding-left: 15px;
}